.admin-container.mt-4
  .container
    .title.d-flex.mb-2
      %h2.me-auto お問い合わせ一覧

    %table.table.table-striped
      %thead
        %tr
          %th 日時
          %th 店舗
          %th 名前
          %th ステータス
          %th
      %tbody
        - @inquiries.each do |inquiry|
          %tr
            %td= l inquiry.created_at, format: :short
            %td= inquiry.store.name
            %td= inquiry.name
            %td= I18n.t("activerecord.attributes.inquiry.status.#{inquiry.status}")
            %td= link_to "詳細", admin_inquiry_path(inquiry), class: "btn btn-outline-secondary btn-sm"
