.container.index
  .content
    %h3.text-center 保管場所
    - if @store.floor_map.attached?
      .d-flex.justify-content-end.mb-2
        %a{href: url_for(@store.floor_map), target: "_blank"} 配置図を見る
    .place-list
      - @places.each do |place|
        .place-item
          .d-flex.justify-content-between.align-items-center.mb-3
            .name= place.name
            = link_to place_path(place), class: "btn btn-secondary" do
              #{place.name}のうつわを見る
          .image-content
            - if place.image.attached?
              .image= image_tag place.image
            - else
              = image_tag "no-image.png", class: "image"