.container.index
  .content
    %h3.text-center= @place.name
    - if @place.image.attached?
      .d-flex.justify-content-center.mb-4
        .image= image_tag @place.image
    %p.text-center ここに保管されているうつわ
    - if @tablewares.empty?
      %p.text-center うつわが見つかりませんでした。
    - else
      .d-flex.justify-content-end
        != pagy_bootstrap_nav(@pagy)
      .tableware-list
        - @tablewares.each do |tw|
          %a.tableware-item{href: tableware_path(tw.id)}
            .image-content
              - if tw.images.present?
                .image= image_tag tw.images.first
              - else
                = image_tag "no-image.png", class: "image"
            .name= tw.name
            .category= card_value tw, :categories_info
