= simple_form_for [:owner,@place], data: {turbo: false} do |f|
  %fieldset
    = f.input :name
    = f.input :body
    = f.input :image, as: :file
    = f.input :active, as: :boolean, label: "有効"
    = f.button :submit, class: "btn mt-2"