= content_for :headings do
  .article-header-nav
    %ul.nav.nav-pills{:role => "tablist"}
      %li.nav-item
        %a.btn.btn-secondary{href: owner_places_path} 戻る
      %li.nav-item
        %a.btn.btn-outline-success{href: edit_owner_place_path(@place)} 編集
      %li.nav-item
        = form_with url: owner_place_path(@place),class: "mb-0", method: :delete, html: {data: {turbo: false, confirm: "本当に削除しますか？"}} do
          = submit_tag '削除', class: 'btn delete'


.owner-container
  .container
    .list-group 
      - if @place.image.attached?
        .d-flex.justify-content-center.mb-4
          .image= image_tag @place.image
      = card_item @place,:name
      = card_item @place,:body
      = card_item @place,:active, as: :boolean
      = card_item @place,:created_at, as: :datetime
      = card_item @place,:updated_at, as: :datetime
