= simple_form_for @store ? [:admin, @store, @user] : [:admin, @user], data: { turbo: false } do |f|
  %fieldset
    = f.input :name
    = f.input :password, hint: @user.new_record? ? nil : "変更しない場合は空欄"
    = f.input :password_confirmation
    = f.input :role, as: :radio_buttons, collection: User.roles.keys.reject { |role| role == "admin" }, item_wrapper_class: "form-check form-check-inline"
    = f.input :active, as: :boolean, label: "有効"
    = f.button :submit, class: "btn btn-primary mt-2"
