%div{ data: { controller: "search-overlay" } }
  .header
    .container
      .title
        %h2 うつわがたり
      .header-nav
        = link_to tablewares_path, class: "header-nav-item bowl" do
          = render "layouts/front/icon_bowl"
        = link_to places_path, class: "header-nav-item" do
          = render "layouts/front/icon_place"
        = button_tag type: "button", class: "header-nav-item search-button", data: { action: "search-overlay#open" } do
          = render "layouts/front/icon_search"
        = link_to inquiries_path, class: "header-nav-item user-nav-item" do
          .user-icon-wrapper
            = render "layouts/front/icon_user"
            - if unread_answers_count > 0
              %span.notification-badge{class: "pulse"}

  #search-overlay.search-overlay.d-none{ data: { search_overlay_target: "panel"}}
    .search-box{data: {action: "click->search-overlay#stop"}}
      = button_tag "×", type: "button", class: "btn-close", data: { action: "search-overlay#close" }
      = form_with url: search_tablewares_path, method: :get, local: true do |f|
        .mb-3
          = f.label :name, "名前", class: "form-label"
          = f.text_field :name, value: params[:name], class: "form-control", placeholder: "器の名前で検索"
        - @store.categories.includes(:category_items).each do |category|
          %fieldset.mb-3
            = category.name
            = select_tag "category_item_ids[]", options_from_collection_for_select(category.category_items, :id, :name, Array(params[:category_item_ids]).map(&:to_i)), multiple: true, id: "category_#{category.id}_items", class: "form-control", data: { controller: "select2" }
        %fieldset.mb-3
          = Place.model_name.human
          = select_tag "place_ids[]", options_from_collection_for_select(@store.places.active, :id, :name, Array(params[:place_ids]).map(&:to_i)), multiple: true, class: "form-control", data: { controller: "select2" }
        = f.submit "検索", class: "btn btn-primary"
